<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.itjh.mobileServer.dao.ArticlesDao">
<resultMap id="ArticlesResultMap" type="cn.com.itjh.mobileServer.domain.Articles" >
		<result column="id" property="id"  />
		<result column="content" property="content" />
		<result column="title" property="title" />
		<result column="author" property="author" />
		<result column="postDate" property="postDate" />
		<result column="source" property="source" />
		<result column="popularity" property="popularity" />
		<result column="comments" property="comments" />
	</resultMap> 
	 
	<select id="getArticlesByProgrammingInsights" resultMap="ArticlesResultMap" parameterType="map">
		SELECT wpp.id as id, wpp.`post_author` AS author, wpp.`post_title` AS title,wpp.`post_date` AS postDate FROM wp_posts wpp WHERE wpp.`ID` IN (SELECT wptr.`object_id` FROM wp_terms wpt,wp_term_relationships wptr,wp_term_taxonomy wptt
		WHERE wpt.`term_id` = wptt.`term_id`
		AND wptt.`term_taxonomy_id` = wptr.`term_taxonomy_id`
		AND wpt.`term_id` = 67) AND wpp.`post_status` = "publish"  ORDER BY id DESC LIMIT #{pageNum},#{showNum}
	</select>
	
	<select id="getArticlesByNew" resultMap="ArticlesResultMap" parameterType="map">
		SELECT  wpp.id AS id, wpp.`post_author` AS author, wpp.`post_title` AS title,wpp.`post_date` AS postDate FROM wp_posts wpp WHERE wpp.`ID` IN (SELECT wptr.`object_id` FROM wp_terms wpt,wp_term_relationships wptr,wp_term_taxonomy wptt
		WHERE wpt.`term_id` = wptt.`term_id`
		AND wptt.`term_taxonomy_id` = wptr.`term_taxonomy_id`) AND wpp.`post_status` = "publish"  ORDER BY id DESC LIMIT #{pageNum},#{showNum}
	</select>
	
	
	
	<select id="getArticlesByMoblieDevelopment" resultMap="ArticlesResultMap" parameterType="map">
		SELECT wpp.id as id, wpp.`post_author` AS author, wpp.`post_title` AS title,wpp.`post_date` AS postDate FROM wp_posts wpp WHERE wpp.`ID` IN (SELECT wptr.`object_id` FROM wp_terms wpt,wp_term_relationships wptr,wp_term_taxonomy wptt
		WHERE wpt.`term_id` = wptt.`term_id`
		AND wptt.`term_taxonomy_id` = wptr.`term_taxonomy_id`
		AND wpt.`term_id` IN (11,12,13)) AND wpp.`post_status` = "publish"  ORDER BY id DESC LIMIT #{pageNum},#{showNum}
	</select>
	
	<select id="getArticlesByArtticsId" resultMap="ArticlesResultMap"  parameterType="string">
	    SELECT wpp.id AS id, wpp.`post_author` AS author, wpp.`post_content` AS content,wpp.`post_title` AS title,wpp.`post_date` AS postDate FROM wp_posts wpp WHERE wpp.`ID`=#{artticsId}
	</select> 
	
</mapper>